<header class="mt-5">
  <nav class="navbar navbar-expand-lg navbar-light navbar-float">
    <div class="container">
      <a href="index.html" class="navbar-brand">Gest<span class="text-primary">Hotelière.</span></a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarContent">
        <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
          <li class="nav-item">
            <a [routerLink]="['/accueil']" routerLinkActive="router-link-active" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/a-propos']" routerLinkActive="router-link-active" class="nav-link" >A Propos</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/nos-services']" routerLinkActive="router-link-active" class="nav-link" >Services</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/chambres']" routerLinkActive="router-link-active" class="nav-link" >Nos chambres</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/contacts']" routerLinkActive="router-link-active" class="nav-link" >Contacts</a>
          </li>
        </ul>

        <div class="ml-auto">
          <a href="#" class="btn btn-outline rounded-pill">Mon espaces</a>
        </div>
      </div>
    </div>
  </nav>
</header>