<main>
  <div class="page-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3">
          <h2 class="title-section">Details</h2>
          <div class="divider"></div>
          <p>Remplisser ce formulaire<br> puis soumettez!</p>

          <ul class="contact-list">
            <li>
              <div class="icon"><span class="mai-map"></span></div>
              <div class="content">123 Fake Street, New York, USA</div>
            </li>
            <li>
              <div class="icon"><span class="mai-mail"></span></div>
              <div class="content"><a href="#">$ 123.99 </a></div>
            </li>
            <li>
              <div class="icon"><span class="mai-phone-portrait"></span></div>
              <div class="content"><a href="#">+00 1122 3344 55</a></div>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 py-3" *ngIf="!next">
          <div class="subhead">Informations</div>
          <h2 class="title-section">Sur votre séjour</h2>
          <div class="divider"></div>
          
          <form action="#">
            <div class="row">
              <div class="col-md-6 py-2">
                <input type="date" class="form-control" placeholder="Nombre de chambre">
              </div>
              <div class="col-md-6 py-2">
                <input type="date" class="form-control" placeholder="Code de sécurité">
              </div>
            </div>
            <div class="py-2">
              <input type="number" class="form-control" placeholder="Nombre de chambre">
            </div>
            <button type="submit" class="btn btn-primary rounded-pill mt-4" (click)="nextPressed()">Suivant</button>
          </form>
        </div>
        <div class="col-lg-6 py-3" *ngIf="next">
          <div class="subhead">Information</div>
          <h2 class="title-section">Payement</h2>
          <div class="divider"></div>
          
          <form action="#">
            <div class="py-2">
                <input type="text" class="form-control" placeholder="Nom sur la carte">
            </div>
            <div class="py-2">
              <input type="number" class="form-control" placeholder="Numéro de la carte de crédit">
          </div>
            <div class="row">
              <div class="col-md-6 py-2">
                <input type="number" class="form-control" placeholder="MM/AA">
              </div>
              <div class="col-md-6 py-2">
                <input type="number" class="form-control" placeholder="Code de sécurité">
              </div>
            </div>
            <div class="py-2">
                <input type="number" class="form-control" placeholder="Code de postale">
            </div>
            <button type="submit" class="btn btn-success rounded mt-4 mx-3" (click)="nextPressed()">Précédant</button>
            <button type="submit" class="btn btn-primary rounded-pill mt-4">Reserver</button>
          </form>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->
</main>
