<footer class="page-footer">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-3 py-3">
        <h3>Gest<span class="text-primary">Hotelière.</span></h3>
        <p>Vous êtes Roi/Renne.</p>

        <p><a href="#" >jean.kouame@iit.ci</a></p>
        <p><a href="#">+225 0 708 335 787</a></p>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Liens rapides</h5>
        <ul class="footer-menu">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
      <div class="col-lg-3 py-3">
        <h5>A Propos</h5>
        <ul class="footer-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Our Teams</a></li>
        </ul>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Inscrivez-vous</h5>
        <form action="#">
          <input type="text" class="form-control" placeholder="Votre mail..">
        </form>

        <div class="sosmed-button mt-4">
          <a href="#"><span class="mai-logo-facebook-f"></span></a>
          <a href="#"><span class="mai-logo-twitter"></span></a>
          <a href="#"><span class="mai-logo-google"></span></a>
          <a href="#"><span class="mai-logo-linkedin"></span></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 py-2">
        <p id="copyright">&copy; 2021 <a href="https://macodeid.com/">GH</a>. Tout droit reservé</p>
      </div>
      <div class="col-sm-6 py-2 text-right">
        <div class="d-inline-block px-3">
          <a href="#">Privé</a>
        </div>
        <div class="d-inline-block px-3">
          <a href="#">Contactez nous</a>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</footer> <!-- .page-footer -->
